<p-toast position="top-center"></p-toast>

<div class="comp-content">
  <div class="toolbar-header mb-3">
    <div class="comp-title">
      <h3>Vehicle Type Attributes</h3>
    </div>
    <div class="comp-btns">
      <app-button label="New" styleClass="p-button-sm p-button-rounded" (onclick)="openModal()"></app-button>
    </div>
  </div>

  <div class="middle-content w-o-tabs mt-3">
    <div class="filter-row flex justify-content-between pt-3">

    </div>
    <app-datatable [data]="data" [cols]="columns" [globalFilterFields]="['vehicleTypeName','vehicleAttributeName','attributeInputType','vehicleAttributeValue']" [actions]="actions"></app-datatable>
  </div>

  <p-sidebar [(visible)]="modal" position="right" [style]="{width: '40rem'}" >
    <div class="sidebar-main">
      <div class="sidebar-header">
        <div class="sh-title">
          <h3 style="text-align: center;">
           Add Vehicle Type Attribute
          </h3><br>
        </div>
        <div class="sh-toolbar">
        </div>
      </div>

      <div class="sidebar-content">
        <div class="card-grey">
          <div class="row-form grid">
            <div class="col-4">
              <div class="p-field">
               <label>Select a vehicle type:</label> <br>
                <p-dropdown 
                [(ngModel)]="vehicleTypeAttribute.vehicleType" 
                [options]="vehicleTypes"  
                optionLabel="type_name"
                [required]="true"></p-dropdown>
                  <br>                
              </div>
            </div>
            <div class="col-4">
              <div class="p-field">
                <label>Attribute Name:</label> <br>
                <app-textbox [(controlModel)]="vehicleTypeAttribute.vehicleAttributeName"
                pattern="^(?!\s)(?!.*\s$).+$"
                required
                ></app-textbox><br>
              </div>
            </div>
            <div class="col-4">
              <div class="p-field">
                <label>Select an input type:</label><br>
                <p-dropdown
                [options]="inputTypes"
                [(ngModel)]="vehicleTypeAttribute.attributeInputType"
                placeholder="Input type"
                [required]="true"
              ></p-dropdown><br>
              </div>  
            </div>
          </div>
          <br>
          <div class="row-form grid" *ngIf="isDropdownSelected()">
            <div class="col-4">
              <div class="p-field">
                <label>Enter 1 or more Values:</label> <br>
                  <p-chips 
                  [(ngModel)]="vehicleTypeAttribute.vehicleAttributeValue"
                   separator="," 
                   placeholder="eg: red, green, yellow"
                   pattern="^(?!\s)(?!.*\s$).+$"
                   required>
                  </p-chips>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-footer flex justify-content-end">
        <app-button label="Save" styleClass="p-button-sm p-button-rounded" (onclick)="saveVehicleTypeAttribute()" ></app-button>
      </div>
    </div>
  </p-sidebar>  
  


  <p-sidebar *ngIf="updateSidebarVisible" [(visible)]="updateSidebarVisible" position="right" [style]="{ width:'40rem'}">
    <div class="sidebar-main">
      <div class="sidebar-header">
        <div class="sh-title">
          <h3 style="text-align: center;">
            Vehicle Type Attribute Update
          </h3>
          <br>
        </div>
        <div class="sh-toolbar">
        </div>
      </div>
      <div class="sidebar-content">
        <div class="card-grey">
          <!-- <form action=""> -->
          <div class="row-form grid">
              <div class="col-4">
                <div class="p-field">
                 <label>Select a vehicle type:</label> <br>
                  <p-dropdown 
                  [(ngModel)]="vehicleTypeAttribute.vehicleType" 
                  [options]="vehicleTypes"  
                  optionLabel="type_name"
                  [required]="true"></p-dropdown>
                    <br>                
                </div>
              </div>
              <div class="col-4">
                <div class="p-field">
                  <label>Attribute Name:</label> <br>
                  <app-textbox [(controlModel)]="vehicleTypeAttribute.vehicleAttributeName"
                  pattern="^(?!\s)(?!.*\s$).+$"
                  required
                  ></app-textbox><br>
                </div>
              </div>
              <div class="col-4">
                <div class="p-field">
                  <label>Select an input type:</label><br>
                  <p-dropdown
                  [options]="inputTypes"
                  [(ngModel)]="vehicleTypeAttribute.attributeInputType"
                  placeholder="Input type"
                  [required]="true"
                ></p-dropdown><br>
                </div>  
              </div>
          </div>
          <br>
          <div class="row-form grid">
            <div class="col-4">
              <div class="p-field">
                <label>Enter 1 or more Values:</label> <br>
                  <p-chips 
                  [(ngModel)]="vehicleTypeAttribute.vehicleAttributeValue"
                   separator="," 
                   placeholder="eg: red, green, yellow"
                   pattern="^(?!\s)(?!.*\s$).+$"
                   required>
                  </p-chips>
              </div>
            </div>
          </div>


        <!-- </form> -->

        </div>
      </div>
      <div class="sidebar-footer flex justify-content-end">
         <app-button label="Update" styleClass="p-button-sm p-button-rounded"></app-button>
      </div>
    </div>
  </p-sidebar>



          
          
        
        
        


      

