<div class="col-12 xl:col-12">
  <div class="card">
    <div class="flex justify-content-between">
      <h4>Notifications</h4>
      <a [routerLink]="['/cdms/dashboard']">Go Back</a>
    </div>
    <div class="grid">
      <div class="col-12 lg:col-6 xl:col-12">
        <div class="card mb-0 color">
          <p-tabView (onTabChange)="handleTabChange($event)">
            <p-tabPanel header="Recieved">
              <div *ngIf="details && details.length > 0">
              <div *ngFor="let notification of details" class="notification-tile">
                <div class="notification-header">
                  <b>  {{notification.senderShowroom.showroom_name}} </b>
                  <span> has sent you a request to sell this car: 
                    <b>{{notification.inventory.make}}  {{notification.inventory.model}} {{notification.inventory.variant}} 
                    </b></span>
                </div>
                <div class="notification-details">
                  <span class="notification-time"
                    >{{notification.date}}</span
                  >
                </div>
                <div class="notification-actions">
                  <p-button  
                  (click)="changeStatus(notification.notification_id, 'ACCEPTED')"
                  >Accept</p-button>
                  <p-button
                  (click)="changeStatus(notification.notification_id, 'REJECTED')"
                    severity="danger"
                    class="ml-2"
                  >Reject</p-button>
                  <a [routerLink]="['/detail-view/', notification.inventory.inventory_id]" style="float: right"
                    >View Car Details</a
                  >
                </div>
              </div>
            </div>
            </p-tabPanel>
            <p-tabPanel header="Sent">
                <div class="notification-tile">
                    <div class="notification-header">
                      <span> You have sent a request to: </span>
                      <b>Showroom Name</b>
                    </div>
                    <div class="notification-header">
                      <b>Toyota Corolla 2019</b>
                    </div>
                  
                   
                    <div class="notification-details">
                      <span class="notification-time"
                        >Date & Time: [Date & Time]</span
                      >
                    </div>
                    
                    <div class="notification-details">
                        <span class="notification-time"
                          >Status: Pending</span
                        >
                      </div>
                  </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>
