
<p-toast position="top-center"></p-toast>

<div class="comp-content">
  <div class="toolbar-header mb-3">
    <div class="comp-title">
      <h3>Manage Customer</h3>
    </div>
    <div class="comp-btns">
      <app-button label="New" styleClass="p-button-sm p-button-rounded" (onclick)="openModal()"></app-button>
    </div>
    <br>
  </div>

  <!-- <div class="middle-content w-o-tabs mt-3">
    <div class="filter-row flex justify-content-between pt-3">

    </div>
    <app-datatable [data]="data" [cols]="columns" [globalFilterFields]="[]" [actions]="actions"></app-datatable>
  </div> -->

  <p-tabView (onChange)="onTabChange($event)" [(activeIndex)]="selectedTabIndex">   
    <p-tabPanel header="Dealership">
      <app-datatable [data]="data" [cols]="dealershipColumns" [globalFilterFields]="['name', 'email', 'city']" [actions]="actions"></app-datatable>
    </p-tabPanel>
    <p-tabPanel header="Agent">
      <app-datatable [data]="data" [cols]="columns" [globalFilterFields]="['name', 'email', 'city']" [actions]="actions"></app-datatable>
    </p-tabPanel>
    <p-tabPanel header="Customer">
      <app-datatable [data]="data" [cols]="columns" [globalFilterFields]="['name', 'email', 'city']" [actions]="actions"></app-datatable>
    </p-tabPanel>
  </p-tabView>

  <p-sidebar [(visible)]="modal" position="right" [style]="{width: '55rem'}" >

    <form (ngSubmit)="onSubmit()" #Seller="ngForm"> 

          <div class="sidebar-main">
           <div class="sidebar-header">
            <div class="sh-title">
              <h5 style="text-align: center;"> Customer Details</h5>
              <br>
            </div>
            <div class="sh-toolbar">
              </div>
            </div>
          </div>
          
          <div class="sidebar-content">
            <div class="card-grey padding">

              <div class="row-form grid" >  
                <div class="col-4">
                  <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                    [required]="true"
                     [options]="customer_form" 
                     class="p-inputtext-lg" 
                     placeholder="Investor Add option"
                     name="cutomer_form"
                     [(ngModel)]="customer_form_input"
                     #customerForm = "ngModel"
                     ></p-dropdown>       
                     <div *ngIf="customerForm.invalid && (customerForm.dirty || customerForm.touched)" class="p-error">
                      <span *ngIf="customerForm.errors?.['required']">
                        This Field is required.</span>    
                    </div>
  
                    <label for="float-label">Add option</label>
  
                  </span>
                  </div>
                </div>
              </div>
              <br>

              <div *ngIf=" customer_form_input == 'New'">
              <div class="row-form grid" >    
                <div class="col-4">
                  <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                    [required]="true"
                     [options]="category" 
                     class="p-inputtext-lg" 
                     placeholder="Select a Vehicle Type"
                     name="category"
                     [(ngModel)]="customer.category"
                     #catergory = "ngModel"
                     ></p-dropdown>       
                     <div *ngIf="catergory.invalid && (catergory.dirty || catergory.touched)" class="p-error">
                      <span *ngIf="catergory.errors?.['required']">
                        Category is required.</span>    
                    </div>

                    <label for="float-label">Customer Category</label>

                  </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input 
                      class="p-inputtext-lg"
                       pInputText 
                       name="name"
                       required
                       [(ngModel)]="customer.name"
                       #name = "ngModel"
                      pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$"

                       />

                       <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
                        <span *ngIf="name.errors?.['required']">
                          Please Enter Name.</span>   
                          <br>
                          <span *ngIf="name.errors?.['pattern']">
                            Please Enter Valid Name. Remove unneccessary spaces</span>  
                      </div>

                       <label htmlFor="customerName">
                         Name
                      </label>
                  </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="phoneNo"
                      required
                      [(ngModel)]="customer.phoneNo"

                      #phone_no = "ngModel"
                      pattern="^(03\d{9}|021\d{8})$"
                      minlength="11"
                      maxlength="11"

                      />

                      <div *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)" class="p-error">
                        <span *ngIf="phone_no.errors?.['required']">
                          Please Enter Phone Number.</span>   
                          <br>
                          <span *ngIf="phone_no.errors?.['pattern' || 'minlength' || 'maxlength']">
                            Please Enter Valid Mobile Number.</span>  
                      </div>

                      <label htmlFor="number">Contact Number</label>
                  </span>
                  </div>
                </div>
                </div>
              
              <br>
              <div class="row-form grid">
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg"
                       required
                       email
                       pInputText
                       name="email"
                       [(ngModel)]="customer.email"
                       #email = "ngModel"
                       />

                       <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">
                        <span *ngIf="email.errors?.['required']">
                          Please Enter Email.</span>   
                          <br>
                          <span *ngIf="email.errors?.['email']">
                            Please Enter A Valid Email.</span>  
                      </div>

                      <label htmlFor="email">Email</label>
                  </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      required
                      name="province"
                      [(ngModel)]="customer.province"
                      #province = "ngModel" 
                      minlength="3"
                      maxlength="20"
                      pattern="^\S(?:\s*\S)*$"
                      />
                      <div *ngIf="province.invalid && (province.dirty || province.touched)" class="p-error">
                        <span *ngIf="province.errors?.['required']">
                          Please Enter Province.</span>   
                          <br>
                          <span *ngIf="province.errors?.['maxlength']"> 
                            Exceeding length.</span>  
                            <br>
                            <span *ngIf="province.errors?.['minlength']"> 
                            Province Name too short.
                          </span>
                      </div>


                      <label htmlFor="province">Province</label>
                    </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="city"
                      [(ngModel)]="customer.city"
                      #city = "ngModel"
                      minlength="3"
                      maxlength="40"
                      pattern="^\S(?:\s*\S)*$"
                      required
                      />

                      <div *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">
                        <span *ngIf="city.errors?.['required']">
                          Please Enter City Name of Person/Dealership.</span>   
                          <br>
                          <span *ngIf="city.errors?.['maxlength']"> 
                            Exceeding length.</span>  
                            <br>
                            <span *ngIf="city.errors?.['minlength']"> 
                            City Name too short.
                          </span>
                      </div>

                      <label for="float-label">City</label>
                  </span>
                  </div>
                </div>
              </div>
              
              <br>
             
              <div class="row-form grid">
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      required
                      name="address"
                      [(ngModel)]="customer.address"
                      #address = "ngModel"
                      pattern="^\S(?:\s*\S)*$"
                      required
                      />

                      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="p-error">
                        <span *ngIf="address.errors?.['required']">
                          Please Enter Address.</span>  
                            <br>
                            <span *ngIf="address.errors?.['pattern']"> 
                            Enter Valid Address, Remove unneccessary spaces.
                          </span>
                      </div>

                      <label for="float-label">Address</label>
                  </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                    [required]="true"
                    placeholder="customer type"
                     [options]="customerType" 
                     class="p-inputtext-lg" 
                     name="customer_type"
                     [(ngModel)]="customer.type"
                     #type = "ngModel"
                     ></p-dropdown>

                     <div *ngIf="type.invalid && (type.dirty || type.touched)" class="p-error">
                      <span *ngIf="type.errors?.['required']">
                        Customer Type is required.</span>    
                    </div>

                    <label for="float-label">Customer Type</label>

                  </span>
                  </div>
                </div>


                <div class="col-4">
                  <div class="p-field" *ngIf="customer.category === 'AGENT' || customer.category === 'CUSTOMER'">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="cnic"
                      [(ngModel)]="customer.cnic"
                      #cnic = "ngModel"
                      required
                      minlength="13"
                      maxlength="13"
                      pattern="[0-9]*"
                      />

                      <div *ngIf="cnic.invalid && (cnic.dirty || cnic.touched)" class="p-error">
                        <span *ngIf="cnic.errors?.['required']">
                          Please Enter Cnic Number.</span>  
                            <br>
                            <span *ngIf="cnic.errors?.['pattern' || 'minlength' || 'maxlength']"> 
                            Enter Valid Cnic Number.
                          </span>
                      </div>

                      <label for="float-label">CNIC</label>
                  </span>
                  </div>
                </div>

                
              </div>
              </div>

              <div *ngIf="customer_form_input === 'Existing'">
               
      
                <div class="row-form grid" > 
                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <p-dropdown
                         [required]="true"
                         [options]="investors" 
                         optionLabel="name"
                         class="p-inputtext-lg" 
                         placeholder="Select Investor"
                         name="investorName"
                         [(ngModel)]="customer.name"
                         #customer = "ngModel"
                        
                         ></p-dropdown> 
                         <label>Select Customer</label>      
                         <div *ngIf="customer.invalid && (customer.dirty || customer.touched)" class="p-error">
                          <span *ngIf="customer.errors?.['required']">
                            PLease Select Customer.</span>    
                        </div>
                      </span>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg"
                         required
                         email
                         pInputText
                         name="email"
                      
                       
                         [disabled] = "true"
                         />
                         <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">
                          <span *ngIf="email.errors?.['required']">
                            Please Enter Email.</span>   
                            <br>
                            <span *ngIf="email.errors?.['email']">
                              Please Enter A Valid Email.</span>  
                        </div> -->
                        <label htmlFor="email">Email</label>
                    </span>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg" 
                        pInputText
                        required
                        name="customer_address"
                      
                        pattern="^\S(?:\s*\S)*$"

                        [disabled] = "true"
                        />
  
                        <!-- <div *ngIf="customer_address.invalid && (customer_address.dirty || customer_address.touched)" class="p-error">
                          <span *ngIf="customer_address.errors?.['required']">
                            Please Enter Address.</span>  
                              <br>
                              <span *ngIf="customer_address.errors?.['pattern']"> 
                              Enter Valid Address, Remove unneccessary spaces.
                            </span>
                        </div> -->
  
                        <label for="float-label">Address</label>
                    </span>
                    </div>
                  </div>

                </div>
                <br>

                <div class="row-form grid" >

                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg" 
                        pInputText
                        name="cnic"
                        
                    
                        minlength="13"
                        maxlength="13"phoneNo
                        pattern="[0-9]*"
                        [disabled] = "true"
                        />
                        <label for="float-label">CNIC</label>
                    </span>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg" 
                        pInputText
                        required
                        name="province"
                      
              
                        minlength="3"
                        maxlength="20"
                        pattern="^\S(?:\s*\S)*$"
                        [disabled] = "true"
                        />
                        <!-- <div *ngIf="province.invalid && (province.dirty || province.touched)" class="p-error">
                          <span *ngIf="province.errors?.['required']">
                            Please Enter Province.</span>   
                            <br>
                            <span *ngIf="province.errors?.['maxlength']"> 
                              Exceeding length.</span>  
                              <br>
                              <span *ngIf="province.errors?.['minlength']"> 
                              Province Name too short.
                            </span>
                        </div> -->
                        <label htmlFor="province">Province</label>
                      </span>
                    </div>
                  </div>

                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg" 
                        pInputText
                        name="city"
                     
                      
                        minlength="3"
                        maxlength="40"
                        pattern="^\S(?:\s*\S)*$"
                        required
                        [disabled] = "true"
                        />
  
                        <!-- <div *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">
                          <span *ngIf="city.errors?.['required']">
                            Please Enter City Name of Person/Dealership.</span>   
                            <br>
                            <span *ngIf="city.errors?.['maxlength']"> 
                              Exceeding length.</span>  
                              <br>
                              <span *ngIf="city.errors?.['minlength']"> 
                              City Name too short.
                            </span>
                        </div> -->
  
                        <label for="float-label">City</label>
                    </span>
                    </div>
                  </div>
                </div>
                <br>

                <div class="row-form grid" >
                
                  <div class="col-4">
                    <div class="p-field">
                      <span class="p-float-label">
                        <input class="p-inputtext-lg" 
                        pInputText
                        name="phoneNo"
                        required
                        [disabled] = "true"
                        pattern="^(03\d{9}|021\d{8})$"
                        minlength="11"
                        maxlength="11"
  
                        />
  
                        <!-- <div *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)" class="p-error">
                          <span *ngIf="phone_no.errors?.['required']">
                            Please Enter Phone Number.</span>   
                            <br>
                            <span *ngIf="phone_no.errors?.['pattern' || 'minlength' || 'maxlength']">
                              Please Enter Valid Mobile Number.</span>  
                        </div>
   -->
                        <label htmlFor="number">Contact Number</label>
                    </span>
                    </div>
                  </div>
                </div> 
              </div>
              <br>
              </div>
            <div class="sidebar-footer flex justify-content-end">
              <app-button
              type="submit"
               label="save" 
               styleClass="p-button-sm p-button-rounded" 
               ></app-button>
            </div>
          </div>
    </form>
  </p-sidebar>  
          
  <p-sidebar *ngIf="updateSidebarVisible" [(visible)]="updateSidebarVisible" position="right" [style]="{width: '55rem'}" >

    <form (ngSubmit)="update()" #updateUser="ngForm">
        <div class="sidebar-main">
          <div class="sidebar-header">
            <div class="sh-title">
              <h5 style="text-align: center;">Update Customer Details</h5>
              <br>  
              <br>
            </div>
            <div class="sh-toolbar">
              </div>
            </div>
          </div>
          <div class="sidebar-content">
            <div class="card-grey padding">
              <div class="row-form grid" >
                <div class="col-4">
                  <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                    [required]="true"
                     [options]="category" 
                     class="p-inputtext-lg" 
                     placeholder="Select a Vehicle Type"
                     name="category"
                     [class.p-disabled]="true"
                     [(ngModel)]= "updateCustomer.catagory"
                     #catergory = "ngModel"
                     
                     ></p-dropdown>       
                     <div *ngIf="catergory.invalid && (catergory.dirty || catergory.touched)" class="p-error">
                      <span *ngIf="catergory.errors?.['required']">
                        Category is required.</span>    
                    </div>

                    <label for="float-label">Customer Category</label>

                  </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input 
                      class="p-inputtext-lg"
                       pInputText 
                       name="name"
                       required
                      [(ngModel)]="updateCustomer.name"
                      #name = "ngModel"
                      pattern="^[a-zA-Z]+(?:\s+[a-zA-Z]+)*$"

                       />

                       <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
                        <span *ngIf="name.errors?.['required']">
                          Please Enter Name.</span>   
                          <br>
                          <span *ngIf="name.errors?.['pattern']">
                            Please Enter Valid Name. Remove unneccessary spaces</span>  
                      </div>

                       <label htmlFor="customerName">
                       Name
                      </label>
                  </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="phoneNo"
                      required
                      [(ngModel)]= "updateCustomer.phoneNo"
                      #phone_no = "ngModel"
                      pattern="^(03\d{9}|021\d{8})$"
                      minlength="11"
                      maxlength="11"

                      />

                      <div *ngIf="phone_no.invalid && (phone_no.dirty || phone_no.touched)" class="p-error">
                        <span *ngIf="phone_no.errors?.['required']">
                          Please Enter Phone Number.</span>   
                          <br>
                          <span *ngIf="phone_no.errors?.['pattern' || 'minlength' || 'maxlength']">
                            Please Enter Valid Mobile Number.</span>  
                      </div>

                      <label htmlFor="number">Contact Number</label>
                  </span>
                  </div>
                </div>
                </div>
              
              <br>
              <div class="row-form grid">
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg"
                       required
                       email
                       pInputText
                       name="email"
                       [(ngModel)]= "updateCustomer.email"
                       #email = "ngModel"
                    
                       />

                       <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">
                        <span *ngIf="email.errors?.['required']">
                          Please Enter Email.</span>   
                          <br>
                          <span *ngIf="email.errors?.['email']">
                            Please Enter A Valid Email.</span>  
                      </div> 

                      <label htmlFor="email">Email</label>
                  </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      required
                      name="province"
                      [(ngModel)]= "updateCustomer.province"
                      #province = "ngModel"
                      minlength="3"
                      maxlength="20"
                      pattern="^\S(?:\s*\S)*$"
                      />

                       <div *ngIf="province.invalid && (province.dirty || province.touched)" class="p-error">
                        <span *ngIf="province.errors?.['required']">
                          Please Enter Province.</span>   
                          <br>
                          <span *ngIf="province.errors?.['maxlength']"> 
                            Exceeding length.</span>  
                            <br>
                            <span *ngIf="province.errors?.['minlength']"> 
                            Province Name too short.
                          </span>
                      </div> 


                      <label htmlFor="province">Province</label>
                    </span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="city"
                      [(ngModel)]= "updateCustomer.city"
                      #city = "ngModel"
                      minlength="3"
                      maxlength="40"
                      pattern="^\S(?:\s*\S)*$"
                      required
                      />

                      <div *ngIf="city.invalid && (city.dirty || city.touched)" class="p-error">
                        <span *ngIf="city.errors?.['required']">
                          Please Enter City Name of Person/Dealership.</span>   
                          <br>
                          <span *ngIf="city.errors?.['maxlength']"> 
                            Exceeding length.</span>  
                            <br>
                            <span *ngIf="city.errors?.['minlength']"> 
                            City Name too short.
                          </span>
                      </div>

                      <label for="float-label">City</label>
                  </span>
                  </div>
                </div>
              </div>
              
              <br>
             
              <div class="row-form grid">
                <div class="col-4">
                  <div class="p-field">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      required
                      name="address"
                      [(ngModel)]= "updateCustomer.address"
                      #address = "ngModel"
                      pattern="^\S(?:\s*\S)*$"
                      required
                      />

                      <div *ngIf="address.invalid && (address.dirty || address.touched)" class="p-error">
                        <span *ngIf="city.errors?.['required']">
                          Please Enter Address.</span>  
                            <br>
                            <span *ngIf="address.errors?.['pattern']"> 
                            Enter Valid Address, Remove unneccessary spaces.
                          </span>
                      </div>

                      <label for="float-label">Address</label>
                  </span>
                  </div>
                </div>

                <div class="col-4">
                  <div class="p-field">
                  <span class="p-float-label">
                    <p-dropdown
                    [required]="true"
                    placeholder="customer type"
                     [options]="customerType" 
                     class="p-inputtext-lg" 
                     name="customer_type"
                     [(ngModel)]= "updateCustomer.type"
                     #type = "ngModel"
                     [class.p-disabled]="true"
                     ></p-dropdown>

                     <div *ngIf="type.invalid && (type.dirty || type.touched)" class="p-error">
                      <span *ngIf="type.errors?.['required']">
                        Customer Type is required.</span>    
                    </div>
                    <label for="float-label">Customer Type</label>

                  </span>
                  </div>
                </div>


                <div class="col-4">
                  <div class="p-field" *ngIf="updateCustomer.catagory === 'AGENT' || updateCustomer.catagory === 'CUSTOMER'">
                    <span class="p-float-label">
                      <input class="p-inputtext-lg" 
                      pInputText
                      name="cnic"
                      [(ngModel)]= "updateCustomer.cnic"
                      #cnic = "ngModel"
                      required
                      minlength="13"
                      maxlength="13"
                      pattern="[0-9]*"
                      />

                      <div *ngIf="cnic.invalid && (cnic.dirty || cnic.touched)" class="p-error">
                        <span *ngIf="cnic.errors?.['required']">
                          Please Enter Cnic Number.</span>  
                            <br>
                            <span *ngIf="cnic.errors?.['pattern' || 'minlength' || 'maxlength']"> 
                            Enter Valid Cnic Number.
                          </span>
                      </div>
                      <label for="float-label">CNIC</label>
                  </span>
                  </div>
                </div>
              </div>        
              <br>
              </div>
            <div class="sidebar-footer flex justify-content-end">
              <app-button
              type="submit"
               label="Update" 
               styleClass="p-button-sm p-button-rounded" 
               ></app-button>
            </div>
          </div>
    </form>
  </p-sidebar>  
          
        
        
        


      


