<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-600 font-medium mb-3">Total Inventory</span>
                    <div class="text-900 font-medium text-xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-800 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-600 font-medium mb-3">Revenue</span>
                    <div class="text-900 font-medium text-xl">$22,322</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-money-bill text-orange-800 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-600 font-medium mb-3">Clients</span>
                    <div class="text-900 font-medium text-xl">28441</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-users text-cyan-800 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-600 font-medium mb-3">Employees</span>
                    <div class="text-900 font-medium text-xl">52</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-wrench text-purple-800 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">2 </span>
            <span class="text-500">new</span>
        </div>
    </div>
</div>




<div class="col-12 xl:col-12">
    <div class="card">

    <div class="flex justify-content-between">
        <h4>Recently Added In Market</h4>
        <a [routerLink]="['/cdms/market-search']">View More</a>
    </div>
    
        <!-- <div class="grid">
            <div class="col-12 lg:col-6 xl:col-4">
                <div class="card mb-0 color">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <h3>2023 Toyota Crown Limited</h3>
                        </div>
                    </div>

                    <div class="car-details">
                       
                        <img src="../../../../assets/demo/images/car.jpg" alt="Car Image" class="car-image">
                  
                        <p>2.5-liter 4-Cylinder Hybrid, ECVT with All-Wheel Drive (AWD)</p>
                       
                        <hr class="divider">
                  
                        <p >Price: <span id="priceColor"> PKR </span> 1,234,567
                        <br>
                        Mileage: 20,00
                        </p>
                        
                        <div style="text-align: center;">
                        <button pButton  label="View Deatils" style="background-color: rgb(225, 10, 29);"></button>
                    </div>
                      </div>

                </div>
             </div>
   
            </div> -->

            <div class="grid">
                <div class="col-12 lg:col-6 xl:col-4" *ngFor="let vehicle of vehicleDetails.slice().reverse().slice(0, 3); let i = index">
                  <div class="card mb-0 color">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <h3>{{ vehicle.modelYear }} {{ vehicle.vehicleMake }} {{ vehicle.vehicleModel }} {{ vehicle.vehicleVariant }}</h3>
                      </div>
                    </div>
              
                    <div class="car-details">
                      <img src="../../../../assets/demo/images/car.jpg" alt="Car Image" class="car-image">
                      <hr class="divider">
                      
                      <p>Price: <span id="priceColor"> PKR {{ vehicle.demand | number:'1.0-0' }}</span>
                        <br>
                        Mileage: {{ vehicle.mileage }} Km
                        
                    </p>
                      <div style="text-align: center;">
                        <button pButton label="View Details" style="background-color: rgb(225, 10, 29);" (click)="redirect()"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>    
        </div>    

    

        
        

  <!-- <div class="col-12 lg:col-6 xl:col-4">
                <div class="card mb-0 color">
                    <div class="justify-content-between mb-3">
                        <div>
                            <h4>Filters</h4>
                        </div>
                        
                        <p-fieldset legend="Showroom City" [toggleable]="true" [collapsed]="true" >
                            <div class="p-grid p-dir-col">
                                <div class="p-col">
                                  <label for="showroomCity">Select City:</label>
                                  <br>
                                  <p-dropdown id="showroomCity" placeholder="Select City"></p-dropdown>
                                </div>
                              </div>
                        </p-fieldset>

                        <p-fieldset legend="Price Range" [toggleable]="true" [collapsed]="true">
                            <div>
                                <div class="p-col p-dir-col">
                                  <label for="minPrice">Min Price:</label>
                                  <p-inputNumber id="minPrice"  mode="currency" currency="USD"></p-inputNumber>
                                </div>
                                <br>
                                <div class="p-col">
                                  <label for="maxPrice">Max Price:</label>
                                  <p-inputNumber id="maxPrice" mode="currency" currency="USD"></p-inputNumber>
                                </div>
                              </div>
                        </p-fieldset>

                        <p-fieldset legend="Variant" [toggleable]="true" [collapsed]="true">
                            <p>
                                abcd
                            </p>
                        </p-fieldset>

                        <p-fieldset legend="Grade" [toggleable]="true" [collapsed]="true">    
                                  <p-rating id="carGrade" [cancel]="false"></p-rating>
                        </p-fieldset>

                        <p-fieldset legend="Color" [toggleable]="true" [collapsed]="true">
                            <p>
                                abcd
                            </p>
                        </p-fieldset>

                        <p-fieldset legend="Year" [toggleable]="true" [collapsed]="true">
                            <div class="p-grid p-dir-col">
                                <div class="p-col">
                                    <p-checkbox name="year" value="All"  label="All"></p-checkbox>
                                  </div>
                                  <br>
                                <div class="p-col">
                                  <p-checkbox name="year" value="2023"  label="2023"></p-checkbox>
                                </div>
                                <br>
                                <div class="p-col">
                                  <p-checkbox name="year" value="2024"  label="2024"></p-checkbox>
                                </div>
                                <br>
                                <div class="p-col">
                                    <p-checkbox name="year" value="2023"  label="2023"></p-checkbox>
                                  </div>
                              </div>
                        </p-fieldset>
                    </div>
                    <div style="text-align: center;">
                        <button pButton  label="Search" style="background-color: rgb(225, 10, 29);"></button>
                    </div>
                </div>              
            </div> -->


            <!-- <div class="col-12 lg:col-6 xl:col-4">
                <div class="card mb-0 color">
                    <div class="flex justify-content-between mb-3">
                        <div>
                            <h3>2023 Toyota Crown Limited</h3>
                        </div>
                    </div>

                    <div class="car-details">
                        
                        <img src="../../../../assets/demo/images/car.jpg" alt="Car Image" class="car-image">
                  
                      
                        <p>2.5-liter 4-Cylinder Hybrid, ECVT with All-Wheel Drive (AWD)</p>
                  
                        
                        <hr class="divider">
                  
                        
                        <p >Price: <span id="priceColor"> PKR </span> 1,234,567</p>
                  
                       
                        <div style="text-align: center;">
                        <button pButton  label="View Deatils" style="background-color: rgb(225, 10, 29);"></button>
                    </div>
                      </div>

                </div>
             </div> -->