.padding
{
    padding-left: 5%;
}

.container {
    width: 100%; 
    margin: 0 auto;
    background-color: #eff3f8;
    padding: 20px;
    border-radius: 8px;
    border: 2px dashed rgb(77, 77, 184);
    
  }

  /* Your CSS code */
.danger-button {
    margin-left: 10px; /* Adjust the margin value as needed for the desired gap */
    background-color: #ff6347; /* Color for danger, you can change it to your desired color */
    border-color: #ff6347; /* Border color for the button */
    color: #ffffff; /* Text color for the button */
  }
  .buttons{
    // margin-top: 5%;
    padding: 1rem;
  }
  .totalInvestment{

  }
  



 
 