<div class="col-12 xl:col-12">
  <div class="card">

  <div class="flex justify-content-between">
      <h4>Search In Market</h4>
      <br> 
  </div>

  <div class="grid">
    <div class="col-12">
      <div class="card">
        <h5>DataView</h5>
      
        <p-dataView
        #dv
        [value]="vehicleDetails"
        [paginator]="true"
        [rows]="9"
        filterBy="model"
        layout="grid"
      >
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Model">
            </span>
            <!-- <p-dataViewLayoutOptions></p-dataViewLayoutOptions> -->
          </div>
        </ng-template>
        <br><br>

      
      
      

        <ng-template let-vehicleDetails pTemplate="gridItem" >
          <div class="grid grid-nogutter" >
            <div class="col-12 md:col-4" >
              <div class="card m-3 border-1 surface-border" style="width: 350px;" >
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                  <div class="flex align-items-center">
                    <i class="pi pi-car mr-2"></i>
                    <span class="font-semibold">{{ vehicleDetails.vehicleType}}</span>
                  </div>
                  <span [class]="'product-badge'">
                    In Stock</span>
                </div>
                <div class="flex flex-column align-items-center text-center mb-3">
                  <img src="../../../../assets/demo/images/car.jpg" class="w-12 shadow-2 my-3 mx-0"/>
                  <!-- <div class="text-2xl font-bold">{{ vehicleDetails.Model }}</div> -->
                  <div class="mb-3"><p>
                    {{ vehicleDetails.vehicleMake }}  {{ vehicleDetails.vehicleModel }} {{ vehicleDetails.vehicleVariant }}
                    <br>
                    {{ '"' + vehicleDetails.comments + '"' }}
                  </p>
                  </div>
                  <p-rating [ngModel]="vehicleDetails.grade" [readonly]="true" [cancel]="false"></p-rating>
                  <br>
                  <div class="mr-auto text-left">
                    <p>
                      
                      <br>
                      <b> Year: </b> {{ vehicleDetails.modelYear }}
                    </p>
                  </div>
                </div>
                <div class="flex align-items-center justify-content-between">
                  <span class="text-2xl font-semibold">PKR {{ vehicleDetails.demand | number: '1.0-0'}}</span>
                  <p-button icon="pi pi-eye" (onClick)="redirect(vehicleDetails.inventoryId)"></p-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- <ng-template let-vehicleDetails pTemplate="gridItem">
          <div class="grid grid-nogutter">
            <div class="col-12 col-md-4" *ngFor="let vehicleDetail of vehicleDetails">
              <div class="card m-3 border-1 surface-border" style="width: 300px;"> 
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                  <div class="flex align-items-center">
                    <i class="pi pi-tag mr-2"></i>
                    <span class="font-semibold">{{ vehicleDetail.vehicleModel }}</span>
                  </div>
                  <span [class]="'product-badge status-' + vehicleDetail.vehicleMake.toLowerCase()">
                    {{ vehicleDetail.mileage }}</span>
                </div>
                <div class="flex flex-column align-items-center text-center mb-3">
                  <img src="../../../../assets/demo/images/car.jpg" class="w-9 shadow-2 my-3 mx-0" style="max-width: 100%; height: auto;"/>
                  <div class="text-2xl font-bold">{{ vehicleDetail.Model }}</div>
                  <div class="mb-3">{{ vehicleDetail.demand }}</div>
                  <p-rating [ngModel]="vehicleDetail.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <div class="flex align-items-center justify-content-between">
                  <span class="text-2xl font-semibold">${{ vehicleDetail.demand }}</span>
                  <p-button icon="pi pi-eye" [disabled]="vehicleDetail.modelYear === '2010'"></p-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template> -->
        

        <!-- <ng-template let-vehicleDetails pTemplate="gridItem">
          <div class="grid grid-nogutter">
            <div class="col-12 col-md-4" *ngFor="let vehicleDetail of vehicleDetails">
              <div class="card m-3 border-1 surface-border">
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
                  <div class="flex align-items-center">
                    <i class="pi pi-tag mr-2"></i>
                    <span class="font-semibold">{{ vehicleDetail.vehicleModel }}</span>
                  </div>
                  <span [class]="'product-badge status-' + vehicleDetail.vehicleMake.toLowerCase()">
                    {{ vehicleDetail.mileage }}</span>
                </div>
                <div class="flex flex-column align-items-center text-center mb-3">
                  <img src="../../../../assets/demo/images/car.jpg" class="w-9 shadow-2 my-3 mx-0"/>
                  <div class="text-2xl font-bold">{{ vehicleDetail.Model }}</div>
                  <div class="mb-3">{{ vehicleDetail.demand }}</div>
                  <p-rating [ngModel]="vehicleDetail.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                <div class="flex align-items-center justify-content-between">
                  <span class="text-2xl font-semibold">${{ vehicleDetail.demand }}</span>
                  <p-button icon="pi pi-eye" [disabled]="vehicleDetail.modelYear === '2010'"></p-button>
                </div>
              </div>
            </div>
          </div>
        </ng-template> -->
        

      </p-dataView>
       
      </div>
    </div>
  

  </div>
          </div>    
      </div>    


