.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .p-grid {
    display: flex;
    justify-content: space-between;
  }

  // .mb-3 {
  //   margin-bottom: 15px; /* Adjust this value as needed */
  // }
  
  // .card {
  //   width: 100%;
  // }
  
