<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <h3>{{companyName}}</h3>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="redirect()">
            <i class=" pi pi-lock-open"></i>
        </button>
    </div>

    <p-sidebar [(visible)]="modal" position="right" [style]="{ width:'80rem'}" dismissable="true">
        <div class="sidebar-main">
            <div class="sidebar-header">
                <div class="sh-title">
            <h3 style="text-align: center;">
              Change Password
            </h3>
            <br>
          </div>
        </div>
    </div>
    
    </p-sidebar>

    <div #topbarmenu class="layout-topbar-menu ml-2" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="logout()">
            <i class=" pi pi-sign-out"></i>
        </button>

        
    </div>

   

    

    
</div>