<div class="col-12 xl:col-12">
  <div class="flex items-center justify-content-center">
    <h4>Change Password</h4>
  </div>

  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <form>
          <div class="ml-3">
            <label
              for="old-password"
              class="block text-900 text-xl font-medium mb-2"
              >Current Password
            </label>

            <p-password
              name="password"
              placeholder="Enter password"
              styleClass="mb-5"
              inputStyleClass="w-full p-3 md:w-30rem"
              pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              required
              [toggleMask]="false"
              [feedback]="false"
              [(ngModel)]="change_Password.oldPassword"
            >
            </p-password>

            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
              >New Password</label
            >
            <p-password
              name="password"
              placeholder="Enter password"
              styleClass="mb-5"
              inputStyleClass="w-full p-3 md:w-30rem"
              pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              required
              [toggleMask]="false"
              [feedback]="false"
              [(ngModel)]="change_Password.newPassword"
            >
            </p-password>

            <label
              for="password"
              class="block text-900 font-medium text-xl mb-2"
            >
              Confirm New Password</label
            >
            <p-password
              name="password"
              placeholder="Enter password"
              styleClass="mb-5"
              inputStyleClass="w-full p-3 md:w-30rem"
              pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
              required
              [toggleMask]="false"
              [feedback]="false"
              [(ngModel)]="checkPassword"
            >
            </p-password>
          </div>
          <div  class="flex items-center justify-content-center">
            <button
              pButton
              pRipple
              label="Confirm"
              class="p-2 text-x1"
              (click)="changePassword()"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
