<p-toast position="top-center"></p-toast>

<div class="comp-content">
  <div class="toolbar-header mb-3">
    <div class="comp-title">
      <h3>Manage Users</h3>
    </div>
    <div class="comp-btns">
      <app-button
        label="New"
        styleClass="p-button-sm p-button-rounded"
        (onclick)="openModal()"
        *appPermission="'add.manageUsers'"
      ></app-button>
    </div>
  </div>

  <div class="middle-content w-o-tabs mt-3">
    <div class="filter-row flex justify-content-between pt-3"></div>
    <app-datatable
      [data]="data"
      [cols]="columns"
      [globalFilterFields]="['username', 'email', 'role']"
      [actions]="actions"
    ></app-datatable>
  </div>

  <p-sidebar [(visible)]="modal" position="right" [style]="{ width: '40% ' }">
    <div class="sidebar-main">
      <div class="sidebar-header">
        <div class="sh-title">
          <h3 style="text-align: center">Add User</h3>
          <br />
        </div>
      </div>

      <div class="sidebar-content">
        <div class="card-grey">
          <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="row-form grid">
              <div class="col-4">
                <div class="p-field">
                  <label>Username:</label> <br />
                  <input
                    name="username"
                    type="username"
                    pInputText
                    pTooltip="Should contain atleast 4 characters"
                    class="w-full md:w-20rem mb-5"
                    style="padding: 1rem"
                    minlength="4"
                    maxlength="20"
                    pattern="^[A-Za-z0-9_-]+$"
                    required
                    [(ngModel)]="user.username"
                    #username="ngModel"
                  />
                </div>

                <div
                  *ngIf="
                    username.invalid && (username.dirty || username.touched)
                  "
                  class="p-error"
                >
                  <span *ngIf="username.errors?.['required']">
                    Please Enter Username.</span
                  >

                  <span *ngIf="username.errors?.['minlength' || 'maxlength']">
                    Username should be between 4-20.</span
                  >
                  <br />

                  <span *ngIf="username.errors?.['pattern']">
                    Please avoid any space.</span
                  >
                </div>

                <div class="p-field">
                  <label>Email:</label> <br />
                  <div class="p-field">
                    <input
                      name="email"
                      type="email"
                      pInputText
                      class="w-full md:w-20rem mb-5"
                      pTooltip="Please enter valid email"
                      style="padding: 1rem"
                      required
                      email
                      [(ngModel)]="user.email"
                      #email="ngModel"
                    />

                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="p-error"
                    >
                      <span *ngIf="email.errors?.['required']">
                        Please Enter Email.</span
                      >

                      <span *ngIf="email.errors?.['email']">
                        Please Enter A Valid Email.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="p-field">
                  <label>Password:</label> <br />
                  <p-password
                    name="password"
                    styleClass="mb-5"
                    inputStyleClass="w-full p-3 md:w-20rem"
                    pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                    required
                    [toggleMask]="false"
                    [(ngModel)]="user.password"
                    [feedback]="false"
                    pTooltip="Atleast one upper case, one lowercase, a number and a special character required."
                    #password="ngModel"
                  >
                  </p-password>
                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="p-error"
                  >
                    <span *ngIf="password.errors?.['required']">
                      Please Enter Password.</span
                    >

                    <span *ngIf="password.errors?.['pattern']">
                      Please Enter A Valid Password.</span
                    >
                  </div>
                </div>

                <!-- role-selector.component.html -->
                <!-- <div class="p-field">
                  <p-multiSelect
                    [required]="true"
                    name="roles"
                    [options]="roles"
                    optionLabel="role_name"
                    [(ngModel)]="user.role"
                    [showClear]="true"
                    placeholder="Select Roles"
                  >
                  </p-multiSelect>
                </div> -->

                <div class="p-field">
                  <p-dropdown
                    [required]="true"
                    name="password"
                    [options]="roles"
                    optionLabel="role_name"
                    [(ngModel)]="user.role"
                    [showClear]="true"
                    placeholder="Select a Role"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <br />
          </form>
        </div>
      </div>
      <div class="sidebar-footer flex justify-content-end">
        <app-button
          label="Save"
          styleClass="p-button-sm p-button-rounded"
          (onclick)="onSubmit()"
        ></app-button>
      </div>
    </div>
  </p-sidebar>

  <p-sidebar
    *ngIf="updateSidebarVisible"
    [(visible)]="updateSidebarVisible"
    position="right"
    [style]="{ width: '40% ' }"
  >
    <div class="sidebar-main">
      <div class="sidebar-header">
        <div class="sh-title">
          <h3 style="text-align: center">Update User Information</h3>
          <br />
        </div>
      </div>

      <div class="sidebar-content">
        <div class="card-grey">
          <form (ngSubmit)="update()" #updateUser="ngForm">
            <div class="row-form grid">
              <div class="col-4">
                <div class="p-field">
                  <label>Username:</label> <br />
                  <input
                    name="username"
                    type="username"
                    pInputText
                    pTooltip="Should contain atleast 4 characters"
                    class="w-full md:w-20rem mb-5"
                    style="padding: 1rem"
                    minlength="4"
                    maxlength="20"
                    pattern="^[A-Za-z0-9_-]+$"
                    required
                    [(ngModel)]="update_user.user_name"
                    #username="ngModel"
                  />
                </div>

                <div
                  *ngIf="
                    username.invalid && (username.dirty || username.touched)
                  "
                  class="p-error"
                >
                  <span *ngIf="username.errors?.['required']">
                    Please Enter Username.</span
                  >

                  <span *ngIf="username.errors?.['minlength' || 'maxlength']">
                    Username should be between 4-20.</span
                  >
                  <br />

                  <span *ngIf="username.errors?.['pattern']">
                    Please avoid any space.</span
                  >
                </div>

                <div class="p-field">
                  <label>Email:</label> <br />
                  <div class="p-field">
                    <input
                      name="email"
                      type="email"
                      pInputText
                      class="w-full md:w-20rem mb-5"
                      pTooltip="Please enter valid email"
                      style="padding: 1rem"
                      required
                      email
                      [(ngModel)]="update_user.email"
                      #email="ngModel"
                    />

                    <div
                      *ngIf="email.invalid && (email.dirty || email.touched)"
                      class="p-error"
                    >
                      <span *ngIf="email.errors?.['required']">
                        Please Enter Email.</span
                      >

                      <span *ngIf="email.errors?.['email']">
                        Please Enter A Valid Email.</span
                      >
                    </div>
                  </div>
                </div>

                <div class="p-field">
                  <p-dropdown
                    [required]="true"
                    name="role"
                    [options]="roles"
                    optionLabel="role_name"
                    [(ngModel)]="update_user.role"
                    [showClear]="true"
                    placeholder="Select a Role"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <br />
          </form>
        </div>
      </div>
      <div class="sidebar-footer flex justify-content-end">
        <app-button
          label="Update"
          styleClass="p-button-sm p-button-rounded"
          (onclick)="update()"
        ></app-button>
      </div>
    </div>
  </p-sidebar>
</div>
