
.text-success{
    color: #20c997;
}
.text-danger{
    color: #dc3545;
}
.form-group{
    position: relative;
}

.icon{
    position: absolute;
    right: 20px;
    top: 38%;
}

i{
    font-size:25px;
}

