<p-toast position="top-center"></p-toast>

<div class="comp-content">
  <div class="toolbar-header mb-3">
    <div class="comp-title">
      <h3>Manage Roles and Permissions</h3>
    </div>
    <div class="comp-btns">
      <app-button label="New" 
      styleClass="p-button-sm p-button-rounded" 
      (click)="openModal()"
      *appPermission="'add.roles'">
      </app-button>
    </div>
  </div>

  <div class="middle-content w-o-tabs mt-3">
    <div class="filter-row flex justify-content-between pt-3">
    </div>
    <app-datatable [data]="data" [cols]="columns" [globalFilterFields]="[]" [actions]="actions"></app-datatable>
  </div>

  <p-sidebar [(visible)]="modal" position="right" [style]="{width: '78% '}" >
    <div class="sidebar-main">
      <div class="sidebar-header">
        <div class="sh-title">
          <h3 style="text-align: center;">Add Role and Permission</h3><br>
        </div>
      </div>

      <div class="sidebar-content">
        <div class="card-grey">
          <form #userForm="ngForm">
            <div class="row-form grid">
              <div class="col-4">
                <div class="p-field ">
                  <label><b>Role Name:</b></label> <br>
                  <input
                    name="role name"
                    type="text"
                    pInputText
                    class="w-full md:w-20rem mb-5"
                    style="padding: 1rem"
                    minlength="4"
                    maxlength="30"
                    required
                    [(ngModel)]="roleName"
                  />
                </div> 
              </div>
            </div>
          </form>
          <br>

          <div class="p-grid">
            <div class="p-col">
              <h4 style="text-align: center;">Permissions</h4>
              <p-table [value]="modules" [paginator]="false" [rows]="10">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Module</th>
                    <th>Add</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>View</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-module>
                  <tr>
                    <td>{{ module.name }}</td>
                    <td>
                      <p-checkbox [(ngModel)]="rolePermissions[module.name]['ADD']" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                      <p-checkbox [(ngModel)]="rolePermissions[module.name]['DELETE']" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                      <p-checkbox [(ngModel)]="rolePermissions[module.name]['UPDATE']" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                      <p-checkbox [(ngModel)]="rolePermissions[module.name]['VIEW']" [binary]="true"></p-checkbox>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="sidebar-footer flex justify-content-end">
        <app-button label="Save" styleClass="p-button-sm p-button-rounded" (click)="saveRolePermissions()"></app-button>
      </div>
    </div>
  </p-sidebar>
</div>
